<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"
          media="screen"/>
    <style>
        #nbVelib {
            font-size: 100px;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div id="velib" class="span10 offset1 text-center"></div>
    </div>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/1.2.1/lodash.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
<script src="js/velib.js"></script>

<script type="text/template" class="success">
    <div class="page-header">
        <h1>
            <small>Station</small>
            <%- name %>
        </h1>
    </div>

    <br/><br/>

    <p id="nbVelib" class="lead text-<%- availability_level %>"><strong><%- available_bikes %></strong></p>

    <br/>

    <p><img src="img/velib.png" alt="Vélib" class="img-rounded"/></p>

    <br/><br/>

    <p class="muted"><em>Mis à jour <%- last_update_from_now %></em></p>

</script>

<script type="text/template" class="error">
    <div class="page-header">
        <h1>Oups !</h1>
    </div>

    <p class="lead text-error">Mon vélo…</p>

    <p><img src="img/mon-velo.jpg" width="650" height="485" alt="Mon vélo…" class="img-rounded"/></p>
</script>

<script type="text/template" class="titleSuccess">
    (<%- available_bikes %>) <%- name %>
</script>

<script type="text/template" class="titleError">
    Oups, mon vélo… !
</script>

</body>
</html>